/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

div {
	transition: left 0.7s;
}

footer {
	position: relative;
	top: 0px;
	transition: 0.7s;
}

.mybutton {
	border: 2px solid rgb(180, 180, 180);
    border-radius: 20px;
	margin: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.7s;
}

.mybutton:hover {
	background: rgb(210, 210, 210);
}

#Back {
	position: relative;
	height: 30px;
	width: 30px;
	display: none;
	left: -30px;
	transition: 0.7s;
}

#PageRow {
	position: relative;
	top: 0px;
	transition: 0.7s;
}

#PageFooter {
	position: relative;
	top: 0px;
	transition: 0.7s;
}

#PageJumbotron {
	position: relative;
	top: 0px;
	transition: 0.7s;
}

#PageContainer{
	position: relative;
	overflow: hidden;
}

#PageContainer2{
	position: relative;
	overflow: hidden;
}

#PageRow1{
	position: relative;
	width: 100%;
	transition: 0s;
	top: 0px;
	display: none;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#Skill_detail{
	/*max-width: 100%;*/
	padding: 50px;
    background: lightgray;
    border-radius: 50px;
}

#Skill_detail_pic{
	position: relative;
	/*max-width: 100%;*/
	display: none;
	margin: 5px;
}

#gis{
	position: relative;
	height: auto;
}


#PageRow2{
	position: absolute;
	width: 100%;
	transition: 0s;
	top: 0px;
	display: none;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#Motivation_detail{
	/*max-width: 100%;*/
	padding: 50px;
    background: lightgray;
    border-radius: 50px;
}

#Motivation_detail_pic{
	position: relative;
	/*max-width: 100%;*/
	display: none;
	margin: 5px;
}

#html{
	position: relative;
	height: auto;
}


#PageRow3{
	position: absolute;
	width: 100%;
	transition: 0s;
	top: 0px;
	display: none;
	max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#Hobby_detail{
	/*max-width: 100%;*/
	padding: 50px;
    background: lightgray;
    border-radius: 50px;
}

#Hobby_detail_pic{
	position: relative;
	/*max-width: 100%;*/
	display: none;
	margin: 5px;
}

#pichu{
	position: relative;
	height: auto;
}

